[client]
host     = localhost
user     = ubuntu
password = VlZVaJ7wVJUW12vT
socket   = /var/run/mysqld/mysqld.sock
[mysql_upgrade]
host     = localhost
user     = debian-sys-maint
password = VlZVaJ7wVJUW12vT
socket   = /var/run/mysqld/mysqld.sock
basedir  = /usr