[client]
host     = localhost
user     = debian-sys-maint
password = Oohc7Wl6jBFSmb1h
socket   = /var/run/mysqld/mysqld.sock
[mysql_upgrade]
host     = localhost
user     = debian-sys-maint
password = Oohc7Wl6jBFSmb1h
socket   = /var/run/mysqld/mysqld.sock
basedir  = /usr
